@import "tailwindcss";

/* 
.registration-container {
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.registration-form {
  display: flex;
  flex-direction: column;
}

.registration-form label {
  margin-bottom: 10px;
}

.registration-form input {
  padding: 8px;
  margin-top: 5px;
}

.registration-form button {
  margin-top: 15px;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
} */
